<h2 id='recipe_show_title'>
  <%= recipe.name.capitalize %>
</h2>

<p>
  <strong>Preparation time:</strong>
  <%= recipe.preparation_time %>
</p>

<p>
  <strong>Cooking time:</strong>
  <%= recipe.cooking_time %>
</p>

<p>
  <strong>Steps:</strong>
  <%= recipe.description %>
</p>
