<h1>New ingredient</h1>

<div id="available-foods">
  <p>Choose one food</p>
  
  <%= render "ingredient_form", new_recipe_food: @new_recipe_food %>  
</div>

<p>Add new food</p>

<div>
  <%= link_to "Back to recipes", recipes_path %>
</div>
