@import 'recipe_show';
@import 'add_ingredient';

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: 25px;
}

td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ddd;
}

body {
  padding: 15px;
}
